/* #resume-form{
    display: none;
} */
body {
    background-image: url('./resumebg.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#resume-template{
    display: none;
}

.myimg{
    border-radius: 50%;
    width: 200px;
}

.bg{
    background-color:#2f4f4f;
    color:azure;
}
