/* #resume-form{
    display: none;
} */

#resume-template{
    display: none;
}

.myimg{
    border-radius: 50%;
    width: 200px;
}

.bg{
    background-color:#2f4f4f;
    color:azure;
}
